body{
    background-image: url(../images/dosa-masala-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.recipe{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-left: 600px;
    border-radius: 20px;
}
.IN{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;

}
.ol{
 font-size: 20px;
 font-weight: 900;
}
li{
    font-size: 20px;
    font-weight: 900;
}

